extends layout

block bootstrap
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/css/admin.css')
  title Admin

block content
  div.admin-container
    h1 Users
    table.table.table-hover.w-75
      thead
        tr
          th(scope='col') 아이디
          th(scope='col') 이름
          th(scope='col') 생년월일
          th(scope='col') 이메일
          th(scope='col') 전화번호
          th(scope='col') 관심사
          th(scope='col') 관리자

      tbody
        each user in usersData
          tr
            th.userid(scope='row') #{user.id}
            td #{user.name}
            td #{user.birthdate}
            td #{user.email}
            td #{user.phone}
            td #{user.interests}
            td 
              if user.admin==='true'
                input(class="admin" name='adminbox' type="checkbox" checked)
              else
                input(class="admin" name='adminbox' type="checkbox")
    button(class="admin-btn" type="submit") 관리자 권한 수정
           
  script
    include ../public/javascripts/admin.mjs 
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
