extends layout

block bootstrap
    link(rel='stylesheet', href='/stylesheets/css/project.css')

block content
    .lane-container
        each lane in lanes
            .lane
                .lane-title #{lane[0].name}
                each task in lane
                    
                    .task
                        .task-title 
                            h3 #{task.title}
                        .task-content #{task.content}
                        .task-img #{task.img}
                        .task-file #{task.file}
    
        .lane-add
            .lane-add-title + Add Column